{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
    <h3>Conversations</h3>

    {% if conversations|length > 0 %}
        <p>
            <a href="{{ path('messages_start') }}">Start a conversation</a>
        </p>

        <hr />

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>With</th>
                <th>Subject</th>
                <th>Last message</th>
            </tr>
            </thead>
            <tbody>
            {% for conversation in conversations %}
                {% set firstUnread = conversation.firstUnreadMessage(app.user) %}

                <tr>
                    <td>
                        {{ conversation.id }}
                    </td>
                    <td>
                        <a href="{{ path('messages_conversation', { 'id': conversation.id, 'page': 1 }) }}">
                            {{ members_list(conversation, app.user) }}
                        </a>
                    </td>
                    <td>
                        {{ conversation.subject }}
                    </td>
                    <td>
                        {% if firstUnread %}
                            <a href="{{ path('messages_conversation', { 'id': conversation.id, 'page': get_message_page(conversation, firstUnread) }) }}">
                                {{ firstUnread.id }}
                            </a>
                            <strong>(New)</strong>
                        {% else %}
                            <a href="{{ path('messages_conversation', { 'id': conversation.id, 'page': get_message_page(conversation, conversation.messages.last) }) }}">
                                {{ conversation.messages.last.id }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            You don't have any conversation.
            <a href="{{ path('messages_start') }}">Don't hesitate to start one!</a>
        </p>
    {% endif %}
{% endblock %}
